
#map { 
    height: 100vh; 
  }
  
  #upload-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure the button appears above the map */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #upload-button:hover {
    background-color: #0056b3;
  }
  